* { 
    background-color:#bbdfea;
    color:rgb(11, 27, 78)
}
*{
    font-weight: normal;
}
*{
    font-family:fantasy;
}
h1 {
    font-weight:bold;
}
h1 {
    color:h#5a069e;
}
h2 {
    color:#79025f;
    font-weight: bold;
}
h3 {
    color:rgb(16, 153, 135);
    font-style: oblique;
    font-weight: bold;
}
.link {
    font-style: italic;
    font-size: 22;
    color:#e960c0;
    font-variant: unset;
    font-weight: lighter;
}
.note {
    color:rgb(21, 7, 141);
    font-style:italic;
}
.name {
    color:#631493;
    font-style:oblique;
    font-weight: lighter;
}
#different {
    font-weight: bolder;
}
#list {
    color:#0e0d89;
    font-style: italic;
    font-weight: bolder;
}
#depiction {
    color:#571a8e;
    font-weight:lighter;
}
.flexbox {
    background-color:#2c56a0f0;
    font-style: italic;
    font-size: 22;
    font-variant: unset;
    font-weight: lighter;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 5px solid #8fe98ff1;
}
#flexlink {
    background-color:#2c56a0f0;
}
.box{
    height: 710px;
    padding: 10px;
    margin: 10px;
}
#nauticaquote{
    background-color:rgb(230, 245, 98);
    border: 10px solid rgb(97, 66, 146);
    padding: 10px;
    margin: 10px;
}
#prima {
    border: 10px solid #523998;
}
#vector{
    border: 10px solid #993d9c;
}
